<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Travel Dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  </head>
  <body>
      <nav>
        <div class="nav-wrapper">
          <a href="/travels" class="brand-logo">Travel Planner</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </nav>
    <div class="container">
      <p>Hi, {{user.name}}</p>
      {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    <h5>Your Trip Schedule</h5>
    <table class="highlight">
      <tr>
          <th>Destination</th>
          <th>Travel Start Date</th>
          <th>Travel End Date</th>
          <th>Plan</th>
          <th>Delete</th>
      </tr>
      {% for trip in mytrips %}
       {% if trip.user.id == user.id %}
      <tr>
          <td><a href="/travels/{{trip.id}}">{{trip.trip_location}}</a></td>
          <td>{{trip.departure}}</ts>
          <td>{{trip.trip_end}}</td>
          <td>{{trip.description}}</ts>
          <td><a href='/delete/{{trip.id}}'>Delete?</a></td>
      </tr>
        {% endif %}
      {% endfor %}
      </table>
      <h5>Other User's Trip Schedule</h5>
      <table class="highlight">
        <tr>
          <th>Destination</th>
          <th>Travel Start Date</th>
          <th>Travel End Date</th>
          <th>Plan</th>
          <th>Join?</th>
        </tr>
        {% for trip in other_trips %}
        <tr>
          <td><a href="/travels/{{trip.id}}">{{trip.trip_location}}</a></td>
          <td>{{trip.departure}}</ts>
          <td>{{trip.trip_end}}</td>
          <td>{{trip.description}}</ts>
          <td><a href='/delete/{{trip.id}}'>Delete</a></td>
        </tr>
        {% endfor %}
      </table>
      <a href="/add_trip" class="waves-effect waves-light btn-large">Add a Trip</a>
    </div>
  </body>
</html>
